{% extends 'base.html.twig' %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('table') }}
{% endblock %}

{% block body %}
<div class="invalid-feedback">Unexpected server error.</div>
<div class="table"></div>
{% endblock %}